<?xml version="1.0"?>
<DAILY_REPORT>
	<MONITOR_SERVERS>
		<SERVER>localhost</SERVER>
		<SERVER>172.17.6.105</SERVER>
		<SERVER>localhost</SERVER>
	</MONITOR_SERVERS>
	<MONITOR_THRESHOLD>
		<DISKSPACE_ERROR>90</DISKSPACE_ERROR>
		<DISKSPACE_WARNING>80</DISKSPACE_WARNING>
	</MONITOR_THRESHOLD>
	<EMAIL>
		<FROM></FROM>
		<TO></TO>
		<CC></CC>
		<SUBJECT></SUBJECT>
		<SMTP></SMTP>
		<SMTP_USERNAME></SMTP_USERNAME>
		<SMTP_PASSWORD></SMTP_PASSWORD>
	</EMAIL>
</DAILY_REPORT>
